#put this /etc/systemd/system/uwsgi.service, change dir if needed
#add user www-data to group gpio
[Unit]
Description=uWSGI Service
After=network.target
[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/expert-bassoon
ExecStart=/usr/local/bin/uwsgi --ini /var/www/expert-bassoon/uwsgi.ini

[Install]
WantedBy=multi-user.target